{% extends 'base-visiteur.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block css %}
{% endblock %}

{% block body %}

    <!----------------PRESENTATION DU RESTAURANT-------------->
    <div class="container-section">
        <section class="presentation-restaurant">
            <h1 class="titre niveau1">Le Quai Antique</h1><br>
            <h2 class="titre niveau2">La gastronomie au service du rythme des saisons</h2>
            <div class="valeurs">
                <div class="img">
                    <img src="{{ asset('img/champs.jpg') }}" class="img-champs">
                </div>
                <ul class="titre liste">
                    <li>Nos valeurs:</li>
                    <li>Respect des produits</li>
                    <li>Garanties d'origine biologique</li>
                    <li>Fournisseurs locaux</li>
                </ul>
                <div class="img" id="img-panier">
                    <img src="{{ asset('img/panier.png') }}" class="img-panier">
                </div>
            </div>
        </section>
    </div>


    <!----------------GALERIE------------->

    <div class="container-section-galerie">
        <section class="section-galerie">
            <h2>Quelques réalisations :</h2>
            <ul class="galerie">
                {% for image in images %}
                <li class="galerie-item"><img src="{{ asset('img-dynamique/'~image.sourceImage) }}" alt="plat du restaurant" id="1" ><div class="titre-plat">{{ image.titre }}</div></li>
                {% endfor %}
            </ul>
            <div class="btn-reservation-galerie">
                <a href="#" class="reservation-galerie">Réservation</a>
            </div>
        </section>
    </div>

{% endblock %}
