<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Développeur fou</title>
    <meta name="Description" content="Le Développeur Fou est un restaurant proposant une cuisine moléculaire aux mélanges savants et extravagants">
    <meta name="keywords" content="restaurant, cuisine, cuisine moléculaire, cuisine moderne, cuisinier, restauration">
    <meta name="auteur" content="Priscillia BIETRY">
    <meta name="robots" content="index">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- START header : Le menu de ma page -->
    <header>

    </header>

    <nav class="navbar">

    </nav>

</body>
</html>